<% include ./p-views/header.html %>
    <% include ./p-views/business.html %>
        <div class="bottom">

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>业务流水</th>
                        <th>办理日期</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>金额（元）</th>
                        <th>到期日期</th>
                        <th>平台</th>
                        <th>到期状态</th>
                        <th>还款状态</th>
                        <th>还款金额</th>
                        <th>还款日期</th>
                        <th>延期备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>30001</td>
                        <td>2017-12-05</td>
                        <td><a href="/userinfo">Andy</a></td>
                        <td>100000000</td>
                        <td>10000</td>
                        <td>2018-01-05</td>
                        <td>淘宝</td>
                        <td class="dq">到期</td>
                        <td></td>
                        <td>10000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>30001</td>
                        <td>2017-12-05</td>
                        <td><a href="/userinfo">Andy</a></td>
                        <td>100000000</td>
                        <td>10000</td>
                        <td>2018-01-05</td>
                        <td>淘宝</td>
                        <td class="dq">到期</td>
                        <td></td>
                        <td>10000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>30001</td>
                        <td>2017-12-05</td>
                        <td><a href="/userinfo">Andy</a></td>
                        <td>100000000</td>
                        <td>10000</td>
                        <td>2018-01-05</td>
                        <td>淘宝</td>
                        <td class="dq">到期</td>
                        <td></td>
                        <td>10000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>30001</td>
                        <td>2017-12-05</td>
                        <td><a href="/userinfo">Andy</a></td>
                        <td>100000000</td>
                        <td>10000</td>
                        <td>2018-01-05</td>
                        <td>淘宝</td>
                        <td class="dq">到期</td>
                        <td></td>
                        <td>10000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>30001</td>
                        <td>2017-12-05</td>
                        <td><a href="/userinfo">Andy</a></td>
                        <td>100000000</td>
                        <td>10000</td>
                        <td>2018-01-05</td>
                        <td>淘宝</td>
                        <td class="dq">到期</td>
                        <td></td>
                        <td>10000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>30001</td>
                        <td>2017-12-05</td>
                        <td><a href="/userinfo">Andy</a></td>
                        <td>100000000</td>
                        <td>10000</td>
                        <td>2018-01-05</td>
                        <td>淘宝</td>
                        <td class="dq">到期</td>
                        <td></td>
                        <td>10000</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
        </div>
        </div>
        </body>

        </html>