<div class="main">
    <div class="main-content">
        <div>
            <h1>我的业务流水</h1>
        </div>
        <div class="top clearfix">
            <ul class="ul-left clearfix">
                <li>
                    <a href="/myBusiness">
                        <img src="./static/images/u1468.png" alt=""> 所有业务
                    </a>
                </li>
                <li>
                    <a href="/todayend">
                        <img src="./static/images/u916.png" alt=""> 今日到期
                    </a>
                </li>
                <li>
                    <a href="/todayafter">
                        <img src="./static/images/u920.png" alt=""> 逾期记录
                    </a>
                </li>
            </ul>
            <ul class="ul-right clearfix">
                <li>
                    <a href="/todaybusiness">
            今日业务&nbsp;|
        </a>
                </li>
                <li>
                    <a href="/weekbusiness">
            本周业务&nbsp;&nbsp;|
        </a>
                </li>
                <li>
                    <a href="/monthbusiness">
            本月业务
        </a>
                </li>
            </ul>
        </div>